@mixin activeRouteColor() {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
        147.38deg,
        var(--color-primary-30) 0,
        var(--color-primary-70) 50.93%,
        var(--color-primary-30) 100%,
    );
    border-image-slice: 1;
    width: 100% !important; // Перекрывает width в ui-header
    transition: width var(--animation-time) linear;
  }
}
