:root {
  --container-padding: 16px;
  --container-max: 100%;
  --font-size--xl: 16px;
  --font-size--lg: 14px;
  --font-size--md: 12px;
  --font-size--sm: 10px;
  --font-size--h1: 44px;
  --font-size--h2: 40px;
  --font-size--h3: 32px;
  --font-size--h4: 24px;
  --font-size--h5: 20px;
  --font-size--h6: 16px;
	--font-size-body-xl: 20px;
	--font-size-body-lg: 18px;
	--font-size-body-md: 16px;
	--font-size-body-sm: 14px;
	--font-size-body-xs: 12px;
	--font-size-caption-lg: 14px;
	--font-size-caption-md: 12px;
	--font-size-caption-sm: 10px;
	--font-size-button-lg: 16px;
	--font-size-button-sm: 14px;
	--font-size-overline-lg: 16px;
	--font-size-overline-sm: 12px;
  --font-size--icon-xs: 18px;
  --font-size--icon-sm: 20px;
  --font-size--icon-md: 24px;
  --line-height: 1;
  --line-height--body-xs: 150%;
  --line-height--body-md: 1;
  --animation-time: 0.15s;

  @include generate-color-root-variables;

  @include responsive(md) {
    --container-padding: 32px;
  }

  @include responsive(lg) {
    --container-max: 1200px;
  }

  @include responsive(xl) {
    --container-padding: 56px;
    --container-max: 1440px;
  }
}

*, *::after, *::before {
  line-height: var(--line-height);
  font-size: var(--font-size-body-md);
}

html {
  font-family: $font;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
	font-size: var(--font-size--h4);

	@include responsive(md) {
		font-size: var(--font-size--h1);
	}
}

h2,
.h2 {
	font-size: var(--font-size--h5);

	@include responsive(md) {
		font-size: var(--font-size--h2);
	}
}

h3,
.h3 {
	font-size: var(--font-size--h6);

	@include responsive(md) {
		font-size: var(--font-size--h3);
	}
}

h4,
.h4 {
	font-size: 14px;

	@include responsive(md) {
		font-size: var(--font-size--h4);
	}
}


h5,
.h5 {
	font-size: var(--font-size--h5);
}

h6,
.h6 {
	font-size: var(--font-size--h6);
}

svg {
  &:focus {
    outline: none;
  }
}

a {
  color: var(--color-dark);
  position: relative;

  &:visited {
    color: var(--color-dark);
  }
}

.router-link-active {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
        147.38deg,
        var(--color-primary-30) 0,
        var(--color-primary-70) 50.93%,
        var(--color-primary-30) 100%,
    );
    border-image-slice: 1;
    width: 100% !important; // Перекрывает width в ui-header
    transition: width var(--animation-time) linear;
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: var(--container-max);
  padding: 0 var(--container-padding);
  margin-right: auto;
  margin-left: auto;
}
