@font-face {
	src: url("assets/fonts/Inter-Light.ttf") format("truetype");
	font-family: $font-name;
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("assets/fonts/Inter-Regular.ttf") format("truetype");
	font-family: $font-name;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("assets/fonts/Inter-Medium.ttf") format("truetype");
	font-family: $font-name;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("assets/fonts/Inter-Semibold.ttf") format("truetype");
	font-family: $font-name;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
